Flask==1.1.2
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
Werkzeug==1.0.1
h5 == 0.0.1
numpy==1.20.2
scipy==1.6.2
scikit-learn==0.24.1
matplotlib==3.2.1
keras==2.4.3
pandas==1.2.3
python-dateutil==2.8.1
DateTime==4.3
python-csv==0.0.13
python-dateutil==2.8.1
tensorflow-cpu==2.5.0rc0

